/* SCSS RGB */
$lime-green: rgba(78, 204, 0, 1);
$lime: rgba(194, 255, 26, 1);
$mindaro: rgba(236, 255, 158, 1);
$electric-purple: rgba(192, 0, 250, 1);
$electric-violet: rgba(149, 0, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #4ECC00ff, #C2FF1Aff, #ECFF9Eff, #C000FAff, #9500FFff);
$gradient-right: linear-gradient(90deg, #4ECC00ff, #C2FF1Aff, #ECFF9Eff, #C000FAff, #9500FFff);
$gradient-bottom: linear-gradient(180deg, #4ECC00ff, #C2FF1Aff, #ECFF9Eff, #C000FAff, #9500FFff);
$gradient-left: linear-gradient(270deg, #4ECC00ff, #C2FF1Aff, #ECFF9Eff, #C000FAff, #9500FFff);
$gradient-top-right: linear-gradient(45deg, #4ECC00ff, #C2FF1Aff, #ECFF9Eff, #C000FAff, #9500FFff);
$gradient-bottom-right: linear-gradient(135deg, #4ECC00ff, #C2FF1Aff, #ECFF9Eff, #C000FAff, #9500FFff);
$gradient-top-left: linear-gradient(225deg, #4ECC00ff, #C2FF1Aff, #ECFF9Eff, #C000FAff, #9500FFff);
$gradient-bottom-left: linear-gradient(315deg, #4ECC00ff, #C2FF1Aff, #ECFF9Eff, #C000FAff, #9500FFff);
$gradient-radial: radial-gradient(#4ECC00ff, #C2FF1Aff, #ECFF9Eff, #C000FAff, #9500FFff);
