
@import './colors.scss'; 
// use Roboto Mono font from google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

body, html {
  min-height: 100%;
}

body {
  background-color: rgb(34, 34, 34);
  color: rgb(199, 199, 199);
  font-family: 'Roboto Mono', monospace;
  // make font size 16px
  font-size: 16px;
  // website should have some spacing from the edges of the screen
  margin: 0 3rem;
}
// make links always white even if they are visited and not uderlined 
a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

hr {
  border: 1px solid $electric-purple;
}