@import './colors.scss';

.link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 1rem;
    transition: all 0.2s ease-in-out;
    &:hover {
        &::before {
            content: '> ';
            font-size: 1.2rem;
            opacity: 1;
            transition: all 0.3s ease-in-out;
            color: $lime;
        }
    }
}